<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	id="WebApp_ID" version="6.0">
	<display-name>feedback_form</display-name>
	<welcome-file-list>
		<welcome-file>feedback.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>feedback</servlet-name>
		<servlet-class>com.model.feedbackServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>feedback</servlet-name>
		<url-pattern>/feedback</url-pattern>
	</servlet-mapping>
</web-app>